<div class="mainContainer">
  <div class="menu">
    <h2>Catégories</h2>
    <div class="toggle">
      <mat-slide-toggle [(ngModel)]="isModified" id="toggleCategory" />
      Gestion
    </div>
    <mat-card routerLink="/gestmdp/0">
      <mat-card-title class="link">
        <a
          class="link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Tous
        </a>
      </mat-card-title>
    </mat-card>
    <button mat-flat-button (click)="newCategory()">
      <mat-icon>add</mat-icon> Créer
    </button>
    <hr />
    <app-category-card
      *ngFor="let category of categories"
      [category]="category"
      [isModified]="isModified"
      (deletedCategory)="deletedCategory(category)"
      (modifiedCategory)="modifiedCategory()"
    />
  </div>

  <div class="div-droit">
    <a routerLink="/gestmdp/hashs" class="link"><h2>Mots de passe</h2></a>
    <div class="top">
      <div>
        <mat-slide-toggle [(ngModel)]="isInactiveShown" />
        {{ isInactiveShown ? "Masquer" : "Afficher" }} les désactivés
      </div>
      <div class="block">
        <mat-icon>search</mat-icon>
        <mat-form-field>
          <input matInput [(ngModel)]="search" />
        </mat-form-field>
        <mat-icon (click)="search = ''" class="link">cancel</mat-icon>
      </div>
      <button
        mat-flat-button
        routerLink="/gestmdp/password"
        [disabled]="categories.length == 0"
      >
        <mat-icon>add</mat-icon> Créer
      </button>
    </div>
    <div class="passwords">
      @for (password of passwords;track password;) {
      <app-password-card
        *ngIf="
          (password.active || isInactiveShown) &&
          (category == undefined || password.category_id == category.id) &&
          password.siteName.toLowerCase().includes(search.toLowerCase())
        "
        [password]="password"
        (deletedPassword)="refreshPasswords()"
      />
      }
    </div>
  </div>
</div>
