<div class="mainContainer">
  <app-gestmdp-menu class="div-gauche" />
  <div class="div-droit">
    <h2>Mots de passe</h2>
    <p *ngIf="category">Pour la catégorie : {{ category.name }}</p>
    <p *ngIf="!category">Pour toutes les catégories</p>
    <div class="passwords">
      <div *ngFor="let password of passwords">
        <app-password-card
          *ngIf="
            password.active &&
            (category == undefined || password.category_id == category.id)
          "
          [password]="password"
        />
      </div>
    </div>
  </div>
</div>
