<div class="mainContainer">
  <div class="menu">
    <h2>Catégories</h2>
    <mat-card routerLink="/gestmdp">
      <mat-card-title class="link">
        <a
          class="link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Tous
        </a>
      </mat-card-title>
    </mat-card>
    <button mat-flat-button (click)="newCategory()">
      <mat-icon>add</mat-icon> Créer
    </button>
    <hr />
    <mat-card
      *ngFor="let category of categories"
      [routerLink]="'/gestmdp/' + category.id"
    >
      <mat-card-title class="link">
        <a class="link" routerLinkActive="active">
          {{ category.name }}
        </a>
      </mat-card-title>
    </mat-card>
  </div>

  <div class="div-droit">
    <h2>Mots de passe</h2>
    <div class="top">
      <div>
        <mat-slide-toggle [(ngModel)]="isInactiveShown" />
        {{ isInactiveShown ? "Masquer" : "Afficher" }} les désactivés
      </div>
      <button
        mat-flat-button
        routerLink="/gestmdp/password"
        [disabled]="categories.length == 0"
      >
        <mat-icon>add</mat-icon> Créer
      </button>
    </div>
    <div class="passwords">
      @for (password of passwords;track password;) {
      <app-password-card
        *ngIf="
          (password.active || isInactiveShown) &&
          (category == undefined || password.category_id == category.id)
        "
        [password]="password"
        (deletedPassword)="refreshPasswords()"
      />
      }
    </div>
  </div>
</div>
