<div class="mainContainer">
  <h1>Le SUDOKU</h1>

  <p>
    Le <a href="https://fr.wikipedia.org/wiki/Sudoku">Sudoku</a> est un jeu de
    rélexion, dont l'objectif est de remplir une grille de 9x9 en respectant une
    règle simple :
  </p>
  <p>
    Chaque ligne, chaque colonne et chaque secteur doit contenir tous les
    chiffres de 1 à 9.
  </p>
  <p>
    En d'autres termes, aucune ligne, colonne ou secteur ne peut contenir de
    doublons.
  </p>

  <div class="examples">
    <div>
      <img
        src="../../../../assets/sudoku/sudoku_ok.png"
        alt="grille de sudoku correcte"
      />
      <p>
        Cette grille est a priori correcte, car elle respecte la règle de base.
      </p>
    </div>

    <div>
      <img
        src="../../../../assets/sudoku/sudoku_error.png"
        alt="grille de sudoku incorrecte"
      />
      <p>
        Cette grille est incorrecte (cases rouges) car le 1 est répété dans la
        première ligne, dans la 6ème colonne ou dans le 2ème secteur.
      </p>
      <p>
        Cette grille est également incorrecte car la case n°81 (en orange) ne
        peut contenir aucune valeur (1-2-3-4-5-6-7-8 sont déjà sur la ligne et 9
        est déjà sur la colonne).
      </p>
    </div>
  </div>
</div>
