<div class="mainContainer">
  <h2>Mot de passe aléatoire</h2>
  <form [formGroup]="form" (ngSubmit)="generatePassword()">
    <button mat-mini-fab [disabled]="form.invalid">
      <mat-icon>refresh</mat-icon>
    </button>
    <mat-form-field class="inputPassword">
      <mat-label>Mot de passe : </mat-label>
      <input matInput [value]="randomPassword" id="inputPassword" />
    </mat-form-field>
    <button mat-mini-fab type="button" (click)="copy()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <br />
    <mat-checkbox formControlName="lowercases">minuscule</mat-checkbox>
    <mat-checkbox formControlName="uppercases">majuscule</mat-checkbox>
    <mat-checkbox formControlName="digits">chiffre</mat-checkbox>
    <mat-checkbox formControlName="symbols">carac. spécial</mat-checkbox>
    <mat-form-field class="inputLength">
      <mat-label>Longueur : </mat-label>
      <input matInput formControlName="length" type="number" />
    </mat-form-field>
  </form>

  <h2>Calculs cryptographiques</h2>
  <div appDragSingle class="dropzone">
    <div class="text-wrapper">
      <div class="centered">Glissez-déposez votre fichier ici</div>
      <h2>ou</h2>
      <label for="uploadPicture">Choisissez-le</label>
    </div>
    <input
      type="file"
      id="uploadPicture"
      (change)="onFileDropped($event)"
      style="display: none"
    />
  </div>
  <form>
    <mat-form-field>
      <mat-label>Texte à calculer : </mat-label>
      <input matInput />
    </mat-form-field>
    <button mat-mini-fab><mat-icon>send</mat-icon></button>
  </form>
  <table *ngIf="hashs.length > 0">
    <tr>
      <th>Algo.</th>
      <th>Hash</th>
    </tr>
    <tr>
      <td>MD5</td>
      <td>{{ hashs[0] }}</td>
    </tr>
    <tr>
      <td>SHA-1</td>
      <td>{{ hashs[1] }}</td>
    </tr>
    <tr>
      <td>SHA-256</td>
      <td>{{ hashs[2] }}</td>
    </tr>
    <tr>
      <td>SHA-512</td>
      <td>{{ hashs[3] }}</td>
    </tr>
  </table>
</div>
