.mainContainer {
  h2 {
    text-align: center;
  }

  mat-form-field {
    height: 65px;
    padding: 0;
    width: 75%;
  }

  .addCategory {
    margin-left: 5px;
    margin-right: 5px;
  }

  .link {
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.active {
  font-weight: bold;
}
