<div class="mainContainer">
  <h2>Catégories</h2>
  <mat-card routerLink="/gestmdp">
    <mat-card-title>
      <a
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Tous
      </a>
    </mat-card-title>
  </mat-card>
  <button mat-flat-button (click)="newCategory()">
    <mat-icon>add</mat-icon> Créer
  </button>
  <hr />
  <mat-card
    *ngFor="let category of categories"
    [routerLink]="'/gestmdp/' + category.id"
  >
    <mat-card-title>
      <a class="link" routerLinkActive="active">
        {{ category.name }}
      </a>
    </mat-card-title>
  </mat-card>
</div>
