<div class="mainContainer">
  <h2>Catégories</h2>
  <mat-card routerLink="/gestmdp">
    <mat-card-title>
      <a
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Tous
      </a>
    </mat-card-title>
  </mat-card>
  <form [formGroup]="form" (ngSubmit)="newCategory()">
    <mat-form-field>
      <input
        matInput
        placeholder="Nouv. catégorie"
        formControlName="category"
      />
    </mat-form-field>
    <button type="submit" mat-mini-fab class="addCategory">
      <mat-icon>add</mat-icon>
    </button>
  </form>
  <mat-card
    *ngFor="let category of categories"
    [routerLink]="'/gestmdp/' + category.id"
  >
    <mat-card-title>
      <a class="link" routerLinkActive="active">
        {{ category.name }}
      </a>
    </mat-card-title>
  </mat-card>
</div>
