.mainContainer {
  h2 {
    text-align: center;
  }

  mat-form-field {
    height: 65px;
    padding: 0;
    width: 75%;
  }

  .addCategory {
    margin-left: 5px;
    margin-right: 5px;
  }

  .link {
    font-size: large;
    text-decoration: none;
  }

  mat-card {
    margin: 5px;
    cursor: pointer;

    mat-card-title {
      margin: auto;
      padding: 5px;
    }
  }
}

.active {
  font-weight: bold;
  text-decoration: none;
}
