.mainContainer {
  margin: auto;
  max-width: 1000px;

  mat-divider {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  mat-card {
    background-color: rgb(236, 236, 236);

    mat-card-title {
      display: flex;
      flex-direction: row;
      gap: 5px;

      .realTitle {
        flex-grow: 1;
        text-align: center;
        padding-top: 10px;
      }
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 5px;

      mat-form-field {
        width: 80%;
        margin: auto;
      }

      .group {
        width: 90%;
        margin: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        mat-form-field {
          width: 150px;
          margin: auto;
        }

        .select {
          width: 250px;
          margin: auto;
        }
      }
    }

    mat-card-actions {
      margin: auto;

      button {
        margin: auto;
        color: white;
      }
    }
  }
}
