.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .appContainer {
    width: 100vw;
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
