<!--List of all items to show-->
<ng-template #menuTemplate>
  <a class="link" href="https://dixsite.ishtamar.fr">Dixsite</a>
  <div
    *ngIf="user?.roles?.includes('ADMIN')"
    routerLink="ishta"
    class="link admin"
  >
    Dev.
  </div>
</ng-template>

<div id="menu">
  <div id="infos">
    <img src="../../../favicon.ico" alt="app_logo" routerLink="" class="link" />
    <div class="link title" routerLink="">Ishtamar</div>
    <ng-container *ngTemplateOutlet="menuTemplate" />
  </div>
  <div id="items" *ngIf="isLogged">
    <span routerLink="main/me" class="link" routerLinkActive="active"
      >Mon compte</span
    >
    <span (click)="logout()" class="link">Déconnexion</span>
  </div>
  <div id="items" *ngIf="!isLogged">
    <span routerLink="login" class="link" routerLinkActive="active"
      >Se connecter</span
    >
    <span routerLink="register" class="link" routerLinkActive="active"
      >S'inscrire</span
    >
  </div>
</div>
<hr />
<div id="submenu">
  <div
    routerLink="sudoku"
    class="link"
    matTooltip="Solveur Sudoku"
    routerLinkActive="active"
  >
    Sudoku
  </div>
</div>
<hr />
