mat-card {
  width: 400px;
  margin: 10px;

  mat-card-title {
    margin: auto;
    text-align: center;
  }

  mat-divider {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .loginAddress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 5px;
    }
  }
}
