<mat-card>
  <mat-card-title>{{ password.siteName }}</mat-card-title>
  <mat-divider />
  <div class="loginAddress" *ngIf="password.siteLogin || password.siteAddress">
    <div>
      <mat-card-content *ngIf="password.siteLogin"
        >login : {{ password.siteLogin }}
      </mat-card-content>
      <mat-card-content *ngIf="password.siteAddress">
        adresse :
        <a [href]="password.siteAddress">{{ password.siteAddress }}</a>
      </mat-card-content>
    </div>
    <button mat-mini-fab *ngIf="password.siteAddress">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <mat-divider *ngIf="password.siteLogin || password.siteAddress" />
  <mat-card-content *ngIf="password.description">
    {{ password.description }}
  </mat-card-content>
  <mat-divider />
  <mat-card-actions>
    <div>
      <button mat-flat-button>Modif.</button>
      <button mat-flat-button>Suppr.</button>
    </div>
    <button mat-flat-button>Afficher</button>
  </mat-card-actions>
</mat-card>
