<mat-card>
  <div class="titles">
    <mat-card-title>{{ password.siteName }}</mat-card-title>
    <mat-slide-toggle
      matTooltip="activer/désactiver"
      [ngModel]="password.active"
      (toggleChange)="changeStatus()"
    />
  </div>
  <mat-divider />
  <div class="loginAddress" *ngIf="password.siteLogin || password.siteAddress">
    <div>
      <mat-card-content *ngIf="password.siteLogin"
        >login : {{ password.siteLogin }}
      </mat-card-content>
      <mat-card-content *ngIf="password.siteAddress">
        adresse :
        <a [href]="password.siteAddress">{{ password.siteAddress }}</a>
      </mat-card-content>
    </div>
    <button
      mat-mini-fab
      *ngIf="password.siteAddress"
      (click)="copySiteLogin(password)"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <mat-divider *ngIf="password.siteLogin || password.siteAddress" />
  <mat-card-content class="description">
    {{ password.description }}
  </mat-card-content>
  <mat-divider />
  <mat-card-actions>
    <div>
      <button mat-flat-button [routerLink]="'/gestmdp/password/' + password.id">
        Modif.
      </button>
      <button mat-flat-button (click)="deletePassword(password)">Suppr.</button>
    </div>
    <button mat-mini-fab (click)="calculatePassword(password)" class="send">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
