.mainContainer {
  padding: 10px;

  td {
    border: 1px solid black;
    text-align: center;
    width: 45px;
    height: 30px;

    .validate {
      font-weight: bold;
    }

    input {
      border: 0px solid;
      width: 40px;
      height: 30px;
      text-align: center;
    }
  }

  .principal {
    border-collapse: collapse;
    border: 3px solid black;
    margin: 10px;

    .row {
      border-top: 3px solid black;
    }

    .column {
      border-left: 3px solid black;
    }
  }

  .actions {
    button {
      background-color: lightblue;
    }

    button + button {
      margin-left: 10px;
    }
  }

  .possibilities {
    margin-top: 10px;
    margin-left: 10px;
    visibility: hidden;

    table {
      border-collapse: collapse;

      td {
        font-weight: bold;
      }
    }
  }

  .error {
    background-color: orangered;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .visible {
    visibility: visible;
  }

  .nextMove {
    background-color: yellow;
    input {
      background-color: yellow;
    }
  }
}
