<div class="mainContainer">
  <table class="principal">
    <tr
      *ngFor="let li of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
      [ngClass]="{ row: li % 3 === 0 }"
    >
      <td
        *ngFor="let co of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
        [ngClass]="{ column: co % 3 === 0 }"
      >
        <span *ngIf="S[9 * li + co]" class="validate">{{
          S[9 * li + co]
        }}</span>
        <input
          *ngIf="!S[9 * li + co]"
          [(ngModel)]="T[9 * li + co]"
          type="number"
          min="1"
          max="9"
          (change)="verify(9 * li + co)"
        />
      </td>
    </tr>
  </table>

  <div class="actions">
    <button mat-raised-button (click)="validate()">Valider</button>
    <button mat-raised-button (click)="showPossible()">Montrer cases</button>
  </div>
</div>
