<div class="mainContainer">
  <p>
    Veuillez entrer votre grille de <a routerLink="./details">Sudoku</a> et
    choisir l'option utile.
  </p>
  <table class="principal">
    <tr
      *ngFor="let li of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
      [ngClass]="{ row: li % 3 === 0 }"
    >
      <td
        *ngFor="let co of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
        [ngClass]="{ column: co % 3 === 0, nextMove: N[9 * li + co] != null }"
        [id]="'S' + li + co"
      >
        <span *ngIf="S[9 * li + co]" class="validate">{{
          S[9 * li + co]
        }}</span>
        <input
          *ngIf="!S[9 * li + co]"
          [(ngModel)]="T[9 * li + co]"
          type="number"
          min="1"
          max="9"
          (change)="verify(9 * li + co)"
        />
      </td>
    </tr>
  </table>

  <div class="actions">
    <div>
      <button mat-raised-button (click)="validate()">Valider</button>
    </div>
    <div>
      <button mat-raised-button (click)="showPossible()">Montrer cases</button>
      <button mat-raised-button (click)="showValues()">Montrer valeurs</button>
      <button mat-raised-button (click)="fillValues()">Remplir cases</button>
    </div>
    <div>
      <button mat-raised-button (click)="simpleFill()">
        Remplissage simple
      </button>
      <button mat-raised-button (click)="complexFill()">
        Remplissage complexe
      </button>
    </div>
    <div>
      <button mat-raised-button (click)="montecarloFill(100)">
        Remplissage MonteCarlo
      </button>
    </div>
  </div>

  <div class="possibilities" [ngClass]="{ visible: isValuesShowed }">
    <table>
      <tr>
        <td
          *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
          [ngClass]="{ nextMove: nextValues.has(value) }"
        >
          {{ value }}
        </td>
      </tr>
    </table>
  </div>

  <div class="error" *ngIf="error != ''">Erreur : {{ error }}</div>
</div>
